.card {
    
    background-color: aliceblue;
    border-radius: 20px;
    border-style:solid;
    border-color: white;
    color: black;
    margin: 60px;
    
}

.img {
    padding: 10px;
    border-radius: 10px;
}

.name{
 font-weight: bold;
 padding-left: 10px;
}

.text{
    padding: 10px;
}
