.Header {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  font-weight: bolder;
  font-size: xx-large;

}

.Cards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: 1550px;

}
